* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}

body {
    font-family: 'Edensor', Arial, sens-serif;
    background-color: #f6f6f6;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;

    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;

    /* 기본 */
    overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}

.shop-first-section,
.shop-second-section {
    scroll-snap-align: start;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.39);
    z-index: 1000;
    padding: 1rem 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
}

.nav-menu {
    display: flex;
    gap: 8rem;
    list-style: none;
}

.nav-menu li {
    font-family: 'Edensor', Arial, sens-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-menu li:hover {
    opacity: 0.7;
}

.shop-svg {
    width: 2.5rem !important;
    height: auto !important;
}

.products-svg {
    width: 3.9rem !important;
    height: auto !important;
}

.brands-svg {
    width: 3rem !important;
    height: auto !important;
}

.series-svg {
    width: 2.85rem !important;
    height: auto !important;
}

.main {
    min-height: 100vh;
    overflow-x: hidden;
}

.shop-first-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -64px;
    margin-bottom: -100px;
}

.shop-first-content {
    position: relative;
    width: 1400px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(min(100vw/1400px, 100vh/800px));
    transform-origin: center;
    transform-style: preserve-3d;
}

.shop-first-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/asset/shop/first/shop-first-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
    clip-path: inset(50px 0 50px 0);
}

.shop-first-vure-logo-svg {
    position: absolute;
    top: 8.7rem;
    left: -39.75rem;
    width: 35rem !important;
    height: auto !important;
    z-index: 1;
}

.shop-first-tagline-svg {
    position: absolute;
    top: -14.7rem;
    left: -430px;
    transform: translateX(-50%);
    width: 25rem !important;
    height: auto !important;
    z-index: 3;
}

.black-square {
    position: absolute;
    top: 7.5rem;
    left: -41rem;
    width: 1.9rem;
    height: 1.9rem;
    background-color: rgba(26, 26, 26, 1);
    z-index: 2;
}

.shop-second-section {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    margin-top: -114px;
}

.shop-second-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/asset/shop/second/shop-second-background.png');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    clip-path: inset(0 0 75px 0);
}

.series-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    height: 55px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.series-track {
    display: flex;
    width: max-content;
    animation: slideLeft 25s linear infinite;
}

.first-series-svg {
    white-space: nowrap;
    font-size: 14.26px;
    margin-right: 95px;
    width: 200px !important;
    height: auto !important;
}

.shop-second-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    text-align: center;
}

.shop-second-title-svg {
    width: 23rem !important;
    height: auto !important;
    margin-bottom: 3.9rem;
}

.shop-second-text-svg {
    width: 73rem !important;
    height: auto !important;
    margin-bottom: 5.8rem;
}

.connection-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.connection-button-svg {
    width: 15rem !important;
    height: auto !important;
}

.shop-third-section {
    padding: 5rem 0 5rem 20.5rem;
}

.lighting-title-svg {
    display: block;
    margin: 0 0 4rem 0;
    width: 11rem !important;
    height: auto !important;
    text-align: left;
    margin-top: 12rem;
    margin-bottom: 10rem;
}

.concept-grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: none;
    margin: 0;
    align-items: flex-start;
    padding-left: 0;
}

.concept-card {
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 13rem;
    margin-bottom: 15rem;
}

.flower-default-image {
    position: relative;
    width: auto !important;
    height: 456px !important;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.4s ease;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.flower-full-image {
    position: absolute;
    top: -78px;
    left: 50%;
    transform: translateX(-50%);
    width: auto !important;
    height: 456px !important;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 3;
}

.flower-hover-background-svg {
    position: absolute;
    top: -78px;
    left: 47%;
    transform: translateX(-50%);
    width: auto !important;
    height: 456px !important;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}

.flower1-comment {
    position: static;
    background: none;
    padding: 0;
    margin-top: 1.3rem;
    right: 10px;
    width: 178px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    transition: opacity 0.8s ease;
}

.flower2-comment {
    position: static;
    background: none;
    padding: 0;
    margin-top: 1.5rem;
    right: 10px;
    width: 180px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    transition: opacity 0.8s ease;
}

.flower3-comment {
    position: static;
    background: none;
    padding: 0;
    margin-top: 1.5rem;
    right: 10px;
    width: 200px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    transition: opacity 0.8s ease;
}

.flower1-comment-hover {
    position: static;
    background: none;
    padding: 0;
    margin-top: 3.3rem;
    margin-left: -380px;
    width: 149px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.flower2-comment-hover {
    position: static;
    background: none;
    padding: 0;
    margin-top: 3.3rem;
    margin-left: -380px;
    width: 149px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.flower3-comment-hover {
    position: static;
    background: none;
    padding: 0;
    margin-top: 3.3rem;
    margin-left: -380px;
    width: 149px !important;
    height: auto !important;
    min-width: 90px;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.concept-card:hover .flower-default-image {
    opacity: 0;
}

.concept-card:hover .flower-full-image {
    opacity: 1;
    top: -78px;
}

.concept-card:hover .flower-hover-background-svg {
    opacity: 1;
    top: -78px;
}

.concept-card:hover .flower1-comment {
    opacity: 0;
}

.concept-card:hover .flower2-comment {
    opacity: 0;
}

.concept-card:hover .flower3-comment {
    opacity: 0;
}

.concept-card:hover .flower1-comment-hover {
    opacity: 1;
}

.concept-card:hover .flower2-comment-hover {
    opacity: 1;
}

.concept-card:hover .flower3-comment-hover {
    opacity: 1;
}

.end {
    text-align: center;
    padding: 3rem;
}

.end-comment-svg {
    width: 20rem !important;
    height: auto !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.products-page {
    padding-top: 6rem;
    min-height: auto;
    height: auto;
}

#products-page .products-section {
    padding: 3rem 8.3rem 0 8.3rem;
    height: calc(100vh - 6rem);
    overflow: hidden;
}

#products-page .lighting-title-svg {
    margin-top: 7rem;
    margin-bottom: 3rem !important;
    margin-left: 5.7rem !important;
    transform: translateX(0) !important;
    width: 10rem !important;
    height: auto !important;
}

#products-page .concept-grid {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}

#products-page .concept-card:first-child {
    margin-left: 0 !important;
}

#products-page .concept-card {
    padding-left: 5.7rem !important;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: visible;
    cursor: default;
}

.lighting-1-container,
.lighting-2-container,
.lighting-3-container {
    cursor: pointer;
}

.lighting-1-container:hover,
.lighting-2-container:hover,
.lighting-3-container:hover {
    cursor: pointer;
}

.lighting-1-container {
    position: absolute;
    top: -1rem;
    left: 0;
    width: 23rem !important;
    height: 30rem !important;
    overflow: hidden;
}

.lighting-2-container {
    position: absolute;
    top: 15.8rem;
    left: 9rem;
    width: 9.8rem;
    height: 12rem;
    overflow: hidden;
}

.lighting-3-container {
    position: absolute;
    top: 16rem;
    left: 7.25rem;
    width: 9.75rem;
    height: 24.5rem;
    overflow: hidden;
}

.lighting-1-container::after {
    content: '';
    position: absolute;
    width: 80rem !important;
    height: auto !important;
    cursor: pointer;
    z-index: 10;
    background: transparent;
}

.lighting-2-container::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    z-index: 10;
    background: transparent;
}

.lighting-3-container::after {
    content: '';
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 6rem;
    height: 12rem;
    cursor: pointer;
    z-index: 10;
    background: transparent;
}

#products-page .lighting-1-flower-png {
    position: relative;
    top: 0;
    left: -27.5rem;
    margin: 0;

    width: 80rem !important;
    height: auto !important;

    clip-path: inset(13.5% 39.1% 35.5% 0%);
    transform: scale(1.3) translateY(5px);
    filter: grayscale(80%) brightness(1);
    transform-origin: center center;
    flex-shrink: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#products-page .lighting-2-flower-png {
    position: relative;
    top: 0;
    left: -10rem;
    margin: 0;

    width: 28.5rem !important;
    height: auto !important;

    clip-path: inset(6% 35.1% 52% 31.8%);
    transform: scale(2.5) translateY(10px);
    filter: grayscale(100%) brightness(1.25);
    transform-origin: center center;
    flex-shrink: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#products-page .lighting-3-flower-png {
    position: relative;
    top: 0;
    left: -20.25rem;
    margin: 0;

    width: 50rem !important;
    height: auto !important;

    clip-path: inset(0% 40.5% 51% 40.7%);
    transform: scale(2.5) translateY(5px);
    filter: grayscale(100%) brightness(1.25);
    transform-origin: center center;
    flex-shrink: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#products-page .concept-card:hover .lighting-1-flower-png {
    clip-path: inset(0% 0% 0% 0%);
    transform: scale(0.5) translateY(-200px);
    filter: grayscale(0%) brightness(1.1);
}

#products-page .concept-card:hover .lighting-2-flower-png {
    clip-path: inset(0% 0% 0% 0%);
    transform: scale(1.0) translateY(-205px);
    filter: grayscale(0%) brightness(1.1);
}

#products-page .concept-card:hover .lighting-3-flower-png {
    clip-path: inset(0% 0% 0% 0%);
    transform: scale(1.0) translateY(-205px);
    filter: grayscale(0%) brightness(1.1);
}

#products-page .lighting-1-title-svg {
    position: absolute !important;
    top: 33.5rem !important;
    left: 5.5rem !important;
    z-index: 100;
    padding-top: 0.2rem !important;
    width: 9rem !important;
    height: auto !important;
}

#products-page .lighting-1-comment-svg {
    position: absolute !important;
    top: 36.2rem !important;
    left: 5.5rem !important;
    z-index: 100;
    padding-top: 0.2rem !important;
    width: 3rem !important;
    height: auto !important;
}

#products-page .lighting-2-title-svg {
    position: absolute !important;
    top: 31.5rem !important;
    left: 6rem !important;
    z-index: 100;
    padding-top: 2.1rem !important;
    width: 9.3rem !important;
    height: auto !important;
}

#products-page .lighting-2-comment-svg {
    position: absolute !important;
    top: 36.2rem !important;
    left: 5.8rem !important;
    z-index: 100;
    padding-top: 0.1rem !important;
    width: 5.5rem !important;
    height: auto !important;
}

#products-page .lighting-3-title-svg {
    position: absolute !important;
    top: 31.5rem !important;
    left: 6.5rem !important;
    z-index: 100;
    padding-top: 2.05rem !important;
    width: 9.3rem !important;
    height: auto !important;
}

#products-page .lighting-3-comment-svg {
    position: absolute !important;
    top: 36.2rem !important;
    left: 6.5rem !important;
    z-index: 100;
    margin-top: -0.4rem !important;
    width: 5.4rem !important;
    height: auto !important;
}

.first-bg {
    background-image: url('/asset/brands/first/first-background.svg');
}

#brands-page {
    padding-top: 4rem;
    min-height: 100vh;
}

.brands-first-section {
    padding: 3rem 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.brands-first-title-svg {
    display: block;
    margin-bottom: 2rem;
    width: 29rem !important;
    height: auto !important;
}

.brands-first-image-svg {
    display: block;
    margin: 1.5rem 0;
    width: 45rem !important;
    height: auto !important;
}

.brands-first-paragraph-svg {
    margin-top: 2rem;
    display: block;
    width: 31rem !important;
    height: auto !important;
}

.brands-second-section {
    padding: 13rem 8rem 5rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brands-second-title-svg {
    display: block;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 23rem !important;
    height: auto !important;
}

.keywords-container {
    position: relative;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 12rem;
    margin-right: 10rem;
}

.keyword1,
.keyword2,
.keyword3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.keyword1-title-svg {
    width: 8.8rem !important;
    height: auto !important;
}

.keyword2-title-svg {
    width: 6rem !important;
    height: auto !important;
}

.keyword3-title-svg {
    width: 9rem !important;
    height: auto !important;
}

.keyword1-title-svg,
.keyword2-title-svg,
.keyword3-title-svg {
    margin-bottom: 2rem;
}

.keyword1-image-svg {
    width: 5.4rem !important;
    height: auto !important;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.keyword2-image-svg {
    width: 7rem !important;
    height: auto !important;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-top: 0rem;
}

.keyword3-image-svg {
    width: 4.6rem !important;
    height: auto !important;
    margin-bottom: 3rem;
    margin-left: -1rem;
    margin-top: 1rem;
}

.keyword1-paragraph-svg {
    width: 20rem !important;
    height: auto !important;
    margin-top: 5rem;
}

.keyword2-paragraph-svg {
    width: 21rem !important;
    height: auto !important;
    margin-top: 4.1rem;
}

.keyword3-paragraph-svg {
    width: 14rem !important;
    height: auto !important;
    margin-top: 2.3rem;
}

/* .line-svg-1 {
    position: absolute;
    top: 45%;
    left: 33%;
    width: 8rem !important;
    height: auto !important;
    z-index: 10;
}

.line-svg-2 {
    position: absolute;
    top: 45%;
    left: 66%;
    width: 8rem !important;
    height: auto !important;
    z-index: 10;
} */

.brands-third-section {
    position: relative;
    padding: 8rem 8rem;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.brands-third-paragraph-svg {
    position: relative;
    z-index: 10;
    width: 37rem !important;
    height: auto !important;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 25rem;
}

.brands-third-effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.brands-third-effect1 {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 8rem !important;
    height: auto !important;
    opacity: 0.3;
}

.brands-third-effect2 {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 6rem !important;
    height: auto !important;
    opacity: 0.4;
}

.brands-third-effect3 {
    position: absolute;
    bottom: 25%;
    left: 8%;
    width: 10rem !important;
    height: auto !important;
    opacity: 0.2;
}

.brands-third-effect4 {
    position: absolute;
    bottom: 15%;
    right: 20%;
    width: 7rem !important;
    height: auto !important;
    opacity: 0.35;
}

.brands-third-effect5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem !important;
    height: auto !important;
    opacity: 0.15;
    z-index: 0;
}

#series-page {
    padding-top: 4rem;
    min-height: 100vh;
}

.series-first-section {
    padding: 3rem 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.series-first-image-svg {
    width: 45rem !important;
    height: auto !important;
    margin-bottom: 2rem;
}

.series-first-image-comment-svg {
    width: 20rem !important;
    height: auto !important;
    margin-bottom: 2rem;
}

.series-first-comment-svg {
    width: 30rem !important;
    height: auto !important;
}