* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Edensor', Arial, sens-serif;
    background-color: #f6f6f6;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;
}

.hero-section,
.about-love-section {
    scroll-snap-align: start;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.39);
    z-index: 1000;
    padding: 1rem 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
}

.nav-menu {
    display: flex;
    gap: 8rem;
    list-style: none;
}

.nav-menu li {
    font-family: 'Edensor', Arial, sens-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-menu li:hover {
    opacity: 0.7;
}

.shop-svg {
    width: 2.5rem !important;
    height: auto !important;
}

.products-svg {
    width: 3.9rem !important;
    height: auto !important;
}

.brands-svg {
    width: 3rem !important;
    height: auto !important;
}

.series-svg {
    width: 2.85rem !important;
    height: auto !important;
}

.main {
    min-height: 100vh;
    overflow-x: hidden;
}

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-top: -64px;
    margin-bottom: -100px;
}

.hero-content {
    position: relative;
    width: 1400px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(min(100vw/1400px, 100vh/800px));
    transform-origin: center;
    transform-style: preserve-3d;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/asset/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
    clip-path: inset(50px 0 50px 0);
}

.vure-logo-svg {
    position: absolute;
    top: 8.7rem;
    left: -39.75rem;
    width: 35rem !important;
    height: auto !important;
    z-index: 1;
}

.hero-tagline-svg {
    position: absolute;
    top: -14.7rem;
    left: -430px;
    transform: translateX(-50%);
    width: 25rem !important;
    height: auto !important;
    z-index: 3;
}

.black-square {
    position: absolute;
    top: 7.5rem;
    left: -41rem;
    width: 1.9rem;
    height: 1.9rem;
    background-color: rgba(26, 26, 26, 1);
    z-index: 2;
}

.about-love-section {
    position: relative;
    height: calc(100vh - 75px);
    overflow: hidden;
    margin-top: -114px;
}

.about-love-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/asset/about-love-background.png');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
    clip-path: inset(0 0 75px 0);
}

.series-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    height: 55px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.about-love-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: 100%;
    text-align: center;
}

.about-love-title-svg {
    width: 23rem !important;
    height: auto !important;
    margin-bottom: 3.9rem;
}

.about-love-text-svg {
    width: 73rem !important;
    height: auto !important;
    margin-bottom: 5.8rem;
}

.connection-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.connection-button-svg {
    width: 15rem !important;
    height: auto !important;
}

.series-track {
    display: flex;
    width: max-content;
    animation: slideLeft 25s linear infinite;
}

.first-series-svg {
    white-space: nowrap;
    font-size: 14.26px;
    margin-right: 95px;
    width: 200px !important;
    height: auto !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}